body{
	background-color: #F5F5F5;
}
.content-box{
	height: 680px;
	width: 855px;
	background-color: #FFF;
	margin: 0 auto;
}
.header-tit{
	width: 800px;
	text-align: center;
	float: left;
	padding-top: 40px;
}
.header_tit_txt{
	font-size: 30px;
	color: #424242;
	font-weight: normal;
	/*padding-top: 12px;*/
}
.milogo{
	width: 49px;
	height: 48px;
}
.login_area{
	width: 358px;
	margin: 0px auto;
	padding-bottom: 20px;
}
.lgn_inputbg{
	position: relative;
}
.text-sty{
	width: 330px;
	height: 40px;
}
.subbtn{
	padding: 0; 
	margin: 0; 
	border: none; 
	display:block;  
	width: 368px; 
	height:40px; 
	background:#EF5B00; 
	color: #fff; 
	cursor: pointer;
}
.logimg{
	cursor: pointer;
}
.n_links_area{
	padding-top: 30px;
	text-align: center;
	color: #e0e0e0;
}
.n_links_area a{
	padding: 0 9px;
	font-size: 14px;
	color: #757575;
	text-decoration: none;
}
.f_mi{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #757575;
	padding-top: 20px;
}
.login_error{
	width: 100%;
	height: 20px;
	/*background-color: red;*/
	text-align: center;
}
li{
	float: left;
}